# cmake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

# Prerequisite files
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files (if not using Fortran, can be omitted)
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug files
*.dSYM/
*.idb
*.pdb

# Build directories (adjust names if different)
bin/
obj/
build/

# IDE or editor-specific folders/files
.vscode/
*.code-workspace
*.user
*.user.*  # User-specific files

# Other system or OS files
.DS_Store
Thumbs.db

